@model MIS4200_Team11B.Models.Recognitions

@{
    ViewBag.Title = "Details";
}
    <br />
    <br />
<h2>Details</h2>

<div>
    <h4>Recognitions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserDetails.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetails.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfRecognition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfRecognition)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recognitionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
