@model IEnumerable<MIS4200_Team11B.Models.Recognitions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserDetails.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfRecognition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetails.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfRecognition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recognitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.recognitionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.recognitionID })
        </td>
    </tr>
}

</table>
